for user in data
	.col
		.card.h-100.shadow
			img.card-img-top(src=user.avatar.full alt='Card image')
			.card-body
				a(href=user.serre_url style="text-decoration:none")
					center
						h5.card-title #{user.name}
						h6.card-subtitle.mb-2.text-muted @#{user.tag_name}
				p.card-text
					| Métier : #{user.custom_fields.trade}
					br
					| Nom commercial : #{user.custom_fields.commercial_name}
					br
					| Secteur d'activité : #{user.custom_fields.category}
					br
					| Tel. : 
					a(href=`tel:${user.custom_fields.phone}`) #{user.custom_fields.phone}
					br
					| Mail : 
					a(href=`mailto:${user.custom_fields.mail}`) #{user.custom_fields.mail}
					br
					| Site internet : 
					a(href=user.custom_fields.website) #{user.custom_fields.website}
					
